<% include ../partials/header %>

<div class="container">
    <h1><%= project.name %></h1>
    <div class="row">
        <% if (project.github || project.url) { %>
            <div class="col-md-3">
                <% if (project.github) { %>
                    <p><a href="<%= project.github %>" class="btn btn-success btn-block"><i class="fab fa-github float-left"></i>View the Github Repo</a></p>
                <% } %>
                <% if (project.url) { %>
                    <p><a href="<%= project.url %>" class="btn btn-info btn-block"><i class="far fa-eye float-left"></i><%= project.name %></a></p>
                <% } %>
            </div>
        <% } %>    
        <div class="col-md-9">
            <h3>Overview</h3>
            <p><%= project.description %></p>
            <h3>Technologies Used</h3>
            <p><%= project.technologies %></p>
        </div>
    </div>
</div>

<% include ../partials/footer %>